.navbar-brand{
    font-family:'Great Vibes', cursive;
    }
  .navbar-right{
    font-size:200%;
    font-family:'Great Vibes', cursive;padding-right:10px;}
  
  .fancy-text{
    font-family:'Great Vibes', cursive;}
  
  img.pink-cupcake{height:50px;padding-bottom:0px;}
  
  .jumbotron{
    background-size:cover;
    margin-bottom:0 !important;}
  
  .btn-lg.round{border-radius:24px;}
  
  .btn{font-family:'Great Vibes', cursive; margin-left:70px;}
  
  h2{font-family:'Great Vibes', cursive;}
  .carousel-container{background-color:#dda2bf;}
  .carousel-inner > .item > img {
    margin: 0 auto;}
  
  .facebook{border-radius:50%;}
  .pintrest{border-radius:50%;}
  .google{border-radius:50%;}
  .twitter{border-radius:50%;}
  .row2{background:#f8ecf2;}
  .teddy{height:200px; 
    width:400px;}
  .flower-cake{height:300px; 
    width:500px;}
  .cake{height:200px; 
    width:400px;}
  .p{background-color:#101010;}
  .footer-text{color:white;}
